@import 'colors.scss';

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin base-container {
  @include flex-col;
  height: 100vh;
  width: 100vw;
}

@mixin admin-container {
  @include flex-col;
  box-sizing: border-box;
  padding: 32px 44px;
  height: 100vh;
  flex: 1;
  overflow-y: auto;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin product-container {
  width: 100%;
  padding: 40px;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

@mixin btn-outline {
  @include flex-row;
  height: 44px;
  padding: 0 24px;
  border-radius: 4px;
  border: 2px solid $orange;
  background-color: transparent;
  @include roboto-slab-regular(24px, $orange, 30px);
  cursor: pointer;

}

@mixin btn-filled {
  @include btn-outline;
  background-color: $orange;
  @include roboto-slab-regular(24px, $white, 30px);

}