<main class="orders-container">
    <h1 class="page-name">Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Chat_Id</th>
                <th>Phone Number</th>
                <th>Time</th>
                <th>Status</th>
                <th>Comments</th>
                <th>Self-Delivery</th>
            </tr>
        </thead>
        <tbody>
            <tr app-orders-categories [order]="order" *ngFor="let order of []"></tr>
            <tr>
                <td>
                    <app-btn-add></app-btn-add>
                </td>
            </tr>
        </tbody>
    </table>
</main>