@import 'index.scss';

:host {
    @include flex-col;

    label {
        @include monserat-medium(14px, black, 24px);
        margin-bottom: 8px;

        span {
            color: $orange;
        }
    }

    input {
        @include roboto-slab-bold(18px, black, 33px);
        width: 100%;
        height: 48px;
        text-indent: 12px;
        border: 1px solid $pink;
        padding: 0;

        &.error {
            border: 1px solid $orange;
            margin-bottom: 0;
        }

        &:focus {
            border: 1px solid $yellow;
        }
    }

    .message-box {
        margin: 0;
        height: 40px;
        padding-top: 8px;
    }

    .validation-error {
        @include roboto-slab-regular(12px, $orange, 14px);
    }

    .hint {
        @include roboto-slab-regular(12px, gray, 14px);
    }
}