<label>{{ fieldName }}<span> *</span></label>
<input
    [type]="type"
    [placeholder]="placeholder"
    (focus)="isFieldFocused = true"
    (blur)="isFieldFocused = false"
    [ngClass]="{
        error: isFieldValid
    }"
    [(ngModel)]="model"
/>
<div class="message-box">
    <p class="validation-error" *ngIf="isFieldValid">
        {{ errorMessage }}
    </p>
    <p class="hint" *ngIf="!isFieldValid && hint">
        {{ hint }}
    </p>
</div>
