<div class="sign-in-sign-up-container">
    <div class="in-close">
        <p>Sign Up</p>
        <img src="./assets/img/close.svg" (click)="close()" />
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
        <app-input
            formControlName="email"
            [fieldName]="'Email'"
            [submited]="submited"
            [field]="signUpForm.get('email')"
            [type]="'email'"
            [placeholder]="'Enter your email'"
            [errorMessage]="'Email invalid'"
        >
        </app-input>
        <app-input
            formControlName="login"
            [fieldName]="'Login'"
            [submited]="submited"
            [field]="signUpForm.get('login')"
            [type]="'text'"
            [placeholder]="'Enter your login'"
            [errorMessage]="'Login invalid'"
            [hint]="'Login minimal length 5 symbols'"

        >
        </app-input>
        <app-input
            formControlName="password"
            [fieldName]="'Password'"
            [submited]="submited"
            [field]="signUpForm.get('password')"
            [type]="'password'"
            [placeholder]="'Enter your password'"
            [errorMessage]="'Password invalid'"
            [hint]="'Password minimal length 8 symbols'"
        >
        </app-input>

        <button type="submit" class="btn-auth">
            Log up
        </button>
    </form>
</div>
