<div class="main-h1">Products</div>
<app-product-table-header></app-product-table-header>
<div
    class="product-list"
    *ngFor="let product of products; let i = index; trackBy: trackByProductId"
>
    <app-products-item [ngModel]="product"></app-products-item>
    <app-btn-group
        (edit)="editProduct(product)"
        (delete)="deleteProduct(product)"
    ></app-btn-group>
</div>
<app-btn-add (btnClick)="openAddProductModal()"></app-btn-add>
<app-modal-products
    [product]="selectedProduct"
    *ngIf="isAppProductModal"
    (closeModal)="closeModal()"
></app-modal-products>
