<img src="./assets/img/digifox_logo.svg" alt="" />
<div class="navigation-controls">
    <div class="folders" *ngFor="let folder of folders">
        <div class="folder-name">
            {{ folder.name }}
        </div>
        <div
            class="routes"
            [routerLinkActive]="'active'"
            *ngFor="let route of folder.subRoutes"
            [routerLink]="route.route"
        >
            <!-- (click)="navigate($event, route.route)" -->

            {{ route.name }}
        </div>
    </div>
</div>
<!-- <app-user-box></app-user-box> -->
