@import 'index.scss';

:host {
    @include flex-col;
    width: 260px;
    background-color: white;
    z-index: 1;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px;
    box-sizing: border-box;

    .navigation-controls {
        @include flex-col;
        width: 100%;
        flex: 1;
        align-items: flex-start;
        justify-content: center;

        .folders {
            margin-bottom: 32px;

        }

        .folder-name {
            @include cy-bold(20px, black, 20px);
            border-bottom: 4px solid white;
        }

        .routes {
            @include cy-bold(20px, black, 20px);
            margin-top: 14px;
            margin-left: 32px;
            border-bottom: 4px solid white;
            width: max-content;
            cursor: pointer;
            &.active {
                border-bottom: 4px solid $orange;
                color: $orange;
            }
        }


    }
}