@import 'index.scss';

:host {
    @include flex-row;
    height: 40px;
    align-items: center;

    img {
        @include flex-col;
        height: 30px;
        width: 30px;
        object-fit: contain;
        margin: 0 8px;
        cursor: pointer;
    }
}
