@import 'index.scss';

:host {
    @include flex-row;
    @include roboto-slab-regular(14px, $black, 24px);
    position: absolute;
    bottom: 50px;
    right: 25px;
    width: 300px;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 16px;
    transition: .25s linear;
    opacity: 0;
    z-index: 3;

    &.show {
        transition: .25s linear;
        opacity: 1;
        bottom: 75px
    }

    img {
        cursor: pointer;
        width: 20px;
        height: 20px;
        object-fit: contain;
        margin-left: 16px;
    }

    &.MESSAGE-SUCCESS {
        background: #b7d8b7;
    }

    &.MESSAGE-ERROR {
        background: #f8b7bd;
    }

    &.MESSAGE-WARNING {
        background: #ffe399;
    }
}