@import 'index.scss';

:host {
    @include product-container;

    .product-type-list {
        @include flex-row;
    }

    .main-h1 {
        margin-bottom: 52px;
        @include cy-bold(36px, $black, 30px);
    }

    .main-wrap-names,
    .main-container {
        @include flex-row;
        width: 100%;
        height: 40px;
        align-items: center;
        margin-bottom: 4px;

    }

    .wrap-names-id,
    .wrap-names-type,
    .wrap-names-name {
        @include flex-row;
        @include roboto-slab-regular(20px, $black, 30px);
        text-align: left;
        width: 100%;
        height: 40px;
        margin-right: 4px;
        align-items: center;
    }

    .wrap-names-name {
        width: 40px;
    }

    .wrap-names-type {
        width: 300px;
    }

    .wrap-names-id {
        width: 40px;
    }

    .anticon-plus {
        margin-left: 36px;
    }

}