<div class="main-h1">Product Types</div>
<app-product-type-table-header></app-product-type-table-header>
<div
    class="product-type-list"
    *ngFor="
        let productType of productTypes;
        let i = index;
        trackBy: trackProductTypeById
    "
>
    <app-products-type-item
        [ngModel]="productType"
        [readonly]="productType.readonly"
    ></app-products-type-item>
    <app-btn-group
        [editable]="!productType.readonly"
        (edit)="editProductType(productType)"
        (delete)="deleteProductType(productType)"
        (save)="updateProductType(productType)"
        (cancel)="cancelEditingProductType(productType, i)"
    ></app-btn-group>
</div>
<div class="product-type-list" *ngIf="!newProductType.readonly">
    <app-products-type-item
        [(ngModel)]="newProductType"
        [readonly]="false"
    ></app-products-type-item>
    <app-btn-group
        [editable]="!newProductType.readonly"
        (save)="addNewType()"
        (cancel)="cancelAddNewType()"
    ></app-btn-group>
</div>
<app-btn-add
    *ngIf="newProductType.readonly"
    (btnClick)="showAddingBox()"
></app-btn-add>
