<form class="modal-products-window"  [formGroup]="editProductForm" (ngSubmit)="save()">
    <div class="modal-wrapper">
        <img
            src="./assets/img/close.svg"
            alt=""
            (click)="cancel()"
            class="close-modal"
        />
        <div class="row">
            <label class="field-title">
                Type
            </label>
            <select formControlName="type" class="type-select">
                <option
                    [value]="productType.id"
                    *ngFor="
                        let productType of productStore.productTypes.getAsync()
                            | async
                    "
                >
                    {{ productType.name }}
                </option>
            </select>
            <label class="field-title">
                Active
            </label>
            <!-- checkbox -->
            <app-checkbox formControlName="active"></app-checkbox>
        </div>
        <div class="row">
            <label class="field-title">
                Photo
                <label class="field-required">*</label>

            </label>
            <app-file-uploader
                [image]="product.image"
                (updateImage)="updateImage($event)"
            ></app-file-uploader>
        </div>
        <div class="row">
            <label class="field-title">
                Name
                <label class="field-required">*</label>
            </label>
            <input
                class="product-ingr backgroung-white padding"
                type="text"
                formControlName="name"
            />
        </div>
        <div class="row">
            <label class="field-title">
                Ingridients
                <label class="field-required">*</label>

            </label>
            <textarea
                formControlName="description"
                class="product-ingr backgroung-white padding"
                type="text"
            ></textarea>
            <!-- <ckeditor class="product-ingr backgroung-white padding" [editor]="editor" [(ngModel)]="product.description"></ckeditor> -->
        </div>
        <div
            class="row"
            *ngIf="
                product.id &&
                (productStore.productVariations.getAsync() | async).length
            "
        >
            <label class="field-title">
                Product variations
            </label>
            <section class="col">
                <app-product-variations
                    *ngFor="
                        let productVariation of productStore.productVariations.getAsync()
                            | async
                    "
                    [productVariation]="productVariation"
                ></app-product-variations>
            </section>
        </div>
        <div class="row" *ngIf="product.id">
            <label class="field-title"> New product variation</label>
            <section class="col">
                <app-product-variations
                    *ngIf="isNewProductVariation"
                    [product]="product"
                    [productVariation]="newProductVariation"
                    (cancelEditing)="isNewProductVariation = false"
                ></app-product-variations>
                <app-btn-add
                    (btnClick)="addNewProductVariation()"
                ></app-btn-add>
            </section>
        </div>
        <div class="buttons">
            <button (click)="cancel()" class="cancel">
                Cancel
            </button>
            <button  type="submit" class="save">
                Save
            </button>
        </div>
    </div>
</form>
