<router-outlet></router-outlet>
<app-spinner *ngIf="(spinner | async).visible"></app-spinner>
<app-message-dialod
    *ngIf="(message | async).visible"
    [message]="(message | async).message"
    [type]="(message | async).dialogType"
></app-message-dialod>
