@import 'index.scss';

:host {
    @include flex-row;
    margin-bottom: 4px;

    .product-type-id,
    .product-type-type,
    .product-type-icon {
        @include flex-center;
        @include roboto-slab-regular(20px, $black, 30px);
        background-color: #ffffff;
        margin-right: 4px;
        height: 40px;
    }

    .product-type-icon {
        width: 40px;
        justify-content: center;
    }

    .product-type-type {
        width: 300px;
        justify-content: flex-start;
        padding: 0 16px;
        border: none;
    }

    .product-type-id {
        @include flex-col;
        width: 40px;
        justify-content: center;
        align-items: center;
    }

}