<div class="product-type-id">{{ model?.id }}</div>
<div class="product-type-type" *ngIf="readonly">{{ model?.name }}</div>
<input
    class="product-type-type"
    type="text"
    [(ngModel)]="model && model.name"
    *ngIf="!readonly"
/>
<div class="product-type-icon">*</div>
