@import 'index.scss';


:host {
    height: 100%;
    width: 100%;
    @include flex-row;

    .side-bar {
        @include flex-col;
        height: 100%;
        width: 260px;
        align-items: flex-start;
        justify-content: space-between;
        padding: 40px;
        box-sizing: border-box;
    }

    .content {
        @include flex-col;
        flex: 1;
        height: 100%;
        background-color: $light-orange;

        .info-block {
            position: relative;
            @include flex-col;
            flex: 2;
            align-items: flex-start;
            justify-content: center;
            padding-left: 60px;
            .message {
                @include flex-col;
                width: 365px;
                @include cy-bold(34px, black,44px);
            }
            .fox {
                position: absolute;
                bottom: -3px;
                right: 20%;
            }

        }

        .orange-background {
            @include flex-col;
            background-color: $orange;
            flex: 1
        }
    }
}