<div class="side-bar">
    <img src="./assets/img/digifox_logo.svg" alt="">
    <sign-in-sign-up-switcher></sign-in-sign-up-switcher>
</div>
<div class="content">
    <div class="info-block">
        <label class="message">
            Let's automate your business together
        </label>
        <img src="./assets/img/fox.svg" alt="" class="fox">
    </div>
    <div class="orange-background"></div>
</div>