@import 'index.scss';

:host {
    @include flex-col;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .plus-icon {
        height: 25px;
        width: 25px;
    }
}