@import 'index.scss';
:host {
    @include base-container;
    z-index: 3;
    max-width: 350px;
    height: auto;
    background: $light-orange;
}
.sign-in-sign-up-container {
    padding: 48px 45px;
    height: 100%;

    .in-close {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 40px;

        p {
            @include monserat-bold(22px, black, 29px);
        }

        img {
            cursor: pointer;
            width: 20px;
            height: 20px;
            object-fit: contain;
        }
    }

    form {
        @include flex-col;

        .input-block {
            display: inline-flex;
            flex-direction: column;

            label {
                @include monserat-medium(14px, #000000, 24px);
                margin-bottom: 8px;

                span {
                    color: $orange;
                }
            }

            input {
                @include roboto-slab-bold(18px, #000000, 33px);
                width: 100%;
                height: 48px;
                text-indent: 12px;
                border: 1px solid #E6CFCB;
                padding: 0;

                &.error {
                    border: 1px solid $orange;
                    margin-bottom: 0;
                }

                &:focus {
                    border: 1px solid #FFE354;
                }
            }

            .validation-error {
                @include roboto-slab-regular(12px, $orange);
                text-align: left;
                margin: 6px 0px 20px 0px;
            }
        }

        .btn-auth {
            @include monserat-bold(15px, #FFFFFF, 18px);
            height: 44px;
            width: 100%;
            background: $orange;
            border: none;
            padding: 0;
            cursor: pointer;
        }
    }
}