<td>{{detail?.id}}</td>
<td>{{detail?.prod_Id}}</td>
<td>{{detail?.prod_name}}</td>
<td>{{detail?.size_weight}}</td>
<td>{{detail?.price}}</td>
<td>{{detail?.amount}}</td>
<td>{{detail?.summ}}</td>
<td>
    <app-btn-group></app-btn-group>
</td>
