@import 'index.scss';

td {
    text-align: center;
        .ant-select-allow-clear {
            width: 100%;
        }   
    .app-btn-group {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    &:last-child {
        background-color: $light-orange;
    }
}