<main class="order-details">
    <div class="details-header">
        <h1 class="page-name">Order Details</h1>
        <div class="order-id-block">
            <label>Order_Id</label>
            <input type="text" disabled value="100500">
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Prod_Id</th>
                <th>Prod_Name</th>
                <th>Size/Weight</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Summ</th>
            </tr>
        </thead>
        <tbody>
            <tr app-order-details-categories [detail]="detail" *ngFor="let detail of []"></tr> 
            <tr>
                <td>
                    <app-btn-add></app-btn-add>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="summ-block">
        <label>Summ</label>
        <input type="text" disabled value="500 hrn">
    </div>
</main>