@import 'index.scss';

:host {
    width: 100%;
    height: 100%;
    
    .order-details {
        height: 100%;
        padding: 32px 44px;
        .details-header {
            display: inline-flex;
            width: 100%;
            .page-name {
                @include cy-bold(36px, $black, 75px);
                margin-bottom: 52px;
            }
            .order-id-block {
                @include roboto-slab-regular(24px, $black, 30px);
                display: flex;
                align-items: center;
                margin-left: 54px;
                margin-bottom: 52px;
                input {
                    margin-left: 30px;
                    background-color: $grey_background;
                    width: 120px;
                    border: none;
                    text-indent: 15px;
                }
            }
        }

        table {
            width: 100%;
            max-width: 1440px;
            border-spacing: 4px;
            border-collapse: separate;
            thead {
                @include roboto-slab-regular(20px, $black, 30px);
                th {
                    text-align: center;
                }
                }
            tbody {
                @include roboto-slab-regular(16px, $black, 30px);
                background-color: $white;
                width: 100%;
                    tr {
                        &:last-child {
                            background-color: $light-orange;
                        }
                    }
                    td {
                        text-align: center;
                        &:last-child {
                            display: inline-flex;
                            justify-content: space-around;
                            width: 100%;
                        };
                    }
            }
        }

        .anticon-edit, .anticon-delete {
            padding: 0px 5px;
            cursor: pointer;
        }
    }

    .summ-block {
        @include roboto-slab-regular(24px, $black, 30px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 257px;
            input {
                margin-left: 50px;
                background-color: $grey_background;
                width: 120px;
                border: none;
                text-indent: 15px;
            }
        }     
}