@import 'index.scss';

:host {
    button, .img-preview  {
        @include flex-col;
        height: 80px;
        width: 80px;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: 2px solid $orange;
        border-radius: 4px;
        cursor: pointer;

        .plus-icon {
            height: 40px;
            width: 40px;
        }
    }

    .img-preview {
        height: 120px;
        width: 120px;
        object-fit: contain;
    }
}