/* You can add global styles to this file, and also import other style files */

* {
    outline: none !important;
    box-sizing: border-box;
}

html, body, app-root {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
}
p, span, label {
    margin: 0;
}