@import 'index.scss';

:host {
    form {
        @include flex-row;
    }

    @include flex-row;
    justify-content: flex-start;
    margin-bottom: 16px;

    label {
        @include flex-row;
        margin-right: 4px;

    }

    input {
        margin-right: 16px;
        padding-left: 16px;
        @include roboto-slab-regular(20px, $black, 30px);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
    }

    input[type=number] {
        -moz-appearance: textfield;
        /* Firefox */
        width: 100px;
    }
}