<form [formGroup]="productVariationForm">
    <label>
        Size/Weight
        <label class="field-required">*</label>
    </label>
    <input type="text" formControlName="name" [readonly]="readonly" />
    <label>
        Price
        <label class="field-required">*</label>
    </label>
    <input type="number" formControlName="price" [readonly]="readonly" />

    <app-btn-group
        (edit)="editProductVariation()"
        (delete)="deleteProductVariation()"
        [editable]="!readonly"
        (save)="saveProductVariation()"
        (cancel)="cancelEditProductVariation()"
    ></app-btn-group>
</form>
